# .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# Local
*.log

# Build output
dist/
publish/
