# Godot 4
.godot/
.import/
export.cfg
export_presets.cfg
*.translation

# Mono / C#
.mono/
data_*/
mono_crash.*.json

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Local
*.log

# Build output
dist/
*.vmz
